rngs/langs.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="languages">
      <oneOrMore>
        <element name="language">
          <attribute name="lang">
            <data type="language"/>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
